## Web Scrapping For Prediction

In [1]:
import warnings
import requests
from sklearn import metrics
import pandas as pd
from bs4 import BeautifulSoup
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
total_form = []
total_links = []
data = requests.get('https://www.thegreyhoundrecorder.com.au/form-guides/')
soup = BeautifulSoup(data.text,'html.parser')
linkss = soup.find_all('table',{'class':'fields table-striped'})
for i in linkss:
    links = soup.find_all('a')
    for l in links:
        link = l.get('href')
        if 'fields' in link:
            link = 'https://www.thegreyhoundrecorder.com.au/'+link
            total_form.append(link)
            
total_form = list(dict.fromkeys(total_form))

In [3]:
import datetime
a=datetime.date.today() + datetime.timedelta(days=1)
a=a.strftime("%d/%m/%Y")
DateT=str(a).replace('-','/')[:-2]
DateT

'08/10/20'

In [4]:
NextDayLinks=[]
for i in total_form:
  l = requests.get(i)
  soup = BeautifulSoup(l.text,'html.parser')
  title=soup.find('title')
  title=title.text
  Date=title.split('- ')[1]
  
  if Date==DateT:
    NextDayLinks.append(i)
    print(i)

https://www.thegreyhoundrecorder.com.au//form-guides/addington/fields/72223
https://www.thegreyhoundrecorder.com.au//form-guides/albion-park/fields/72232
https://www.thegreyhoundrecorder.com.au//form-guides/cambridge/fields/72220
https://www.thegreyhoundrecorder.com.au//form-guides/casino/fields/72226
https://www.thegreyhoundrecorder.com.au//form-guides/dapto/fields/72225
https://www.thegreyhoundrecorder.com.au//form-guides/gawler/fields/72208
https://www.thegreyhoundrecorder.com.au//form-guides/geelong/fields/72214
https://www.thegreyhoundrecorder.com.au//form-guides/hobart/fields/72209
https://www.thegreyhoundrecorder.com.au//form-guides/mandurah/fields/72215
https://www.thegreyhoundrecorder.com.au//form-guides/mount-gambier/fields/72238
https://www.thegreyhoundrecorder.com.au//form-guides/sale/fields/72219
https://www.thegreyhoundrecorder.com.au//form-guides/sandown-park/fields/72224
https://www.thegreyhoundrecorder.com.au//form-guides/shepparton/fields/72218
https://www.thegreyhoundrecorder.com.au//form-guides/wagga/fields/72233
https://www.thegreyhoundrecorder.com.au//form-guides/warrnambool/fields/72217

In [5]:
df1st=pd.DataFrame(columns=['Grade','Box','Dist','Name','Track','Race'])
count2loop=1
for k in range(len(NextDayLinks)):
  l = requests.get(NextDayLinks[k])
  soup = BeautifulSoup(l.text,'html.parser')
  Content=soup.find_all('div',{'class':'fieldsSingleRace'})

  for j in range(len(soup.findAll('table',{'class':'fieldsTable'}))):
    Grade=[]
    Box=[]
    Distance=[]
    DogName=[]
    TrackFull=[]
    count2loopList=[]
    Grade1=soup.findAll('table',{'class':'fieldsTable'})[j]
    count=0
    for i in range(len(Content[j].findAll('span',{'class':'dogName'}))):
      if count<7:
        Grade2=Grade1.find_all('tr',{'class':'selection-row'})[count]
        try:
          Grade.append(Grade2.findAll('td')[3].text)
          Box.append(int(Content[j].findAll('span',{'class':'dogCarpet'})[count].text))
          Distance.append(Content[j].findAll('div',{'class':'fieldsTopHeader'})[0].div.text.split('(')[-1].split('m)')[0])
          L = Content[j].findAll('span',{'class':'dogName'})[count].text
          L=L.title()
          L=L.replace(' ' , '-')
          DogName.append(L)
          TrackFull.append(soup.find('title').text.split('- ')[0].split(' Greyhound ')[0])
          count+=1
          count2loopList.append('Race ' + str(count2loop))
        except Exception as e:
          count+=1
    Bt=np.array([Grade,Box,Distance,DogName,TrackFull,count2loopList]).T
    df1st=df1st.append(pd.DataFrame(Bt, columns=list(df1st)), ignore_index=True)
    count2loop+=1
  count2loop=0

In [6]:
df1st=df1st.drop(df1st[df1st.Grade == ""].index)

In [7]:
TrackShort=pd.read_csv("/content/drive/My Drive/DOG RACE/de_para-2.csv")

In [8]:
TrackShort=TrackShort.dropna()

In [9]:

SName=TrackShort['Short'].values.tolist()
FName=TrackShort['Full'].values.tolist()

In [10]:
TrackCompareDic = {FName[i]: SName[i] for i in range(len(FName))}

In [11]:
df1st=df1st.replace({"Track": TrackCompareDic})

In [12]:
df1st

     Grade Box Dist            Name Track     Race
0        3   1  295        Our-Cook   CCH   Race 1
1        3   2  295  No-Kissy-Missy   CCH   Race 1
2        3   3  295   Mitcham-Boult   CCH   Race 1
3        3   4  295  Goldstar-Flora   CCH   Race 1
4        3   5  295    Taieri-Terra   CCH   Race 1
...    ...  ..  ...             ...   ...      ...
1061     5   3  390       Notorious   WBL  Race 11
1062     5   4  390  Ragin'-Soldier   WBL  Race 11
1063     5   5  390        Vin-Joel   WBL  Race 11
1064     5   6  390  Rampant-Teresa   WBL  Race 11
1065     5   7  390     Beaut-Deeds   WBL  Race 11

[1060 rows x 6 columns]

In [13]:
remdup = pd.read_csv("/content/drive/My Drive/DOG RACE/remdup_data (1).csv")

In [14]:
remdup['Date']=remdup['Date'].replace('[/-]','-',regex=True)
remdup['Date']=pd.to_datetime(remdup['Date'])
remdup.head(5)

   Unnamed: 0       Date             Dog Track  ...   Dist  Grade   Time  Win T
0           0 2020-08-21  Give-Me-Ruby's   APK  ...  388.0      M  23.56  22.74
1           1 2020-07-31  Give-Me-Ruby's   GAW  ...  400.0      M  24.26  23.54
2           2 2020-08-18   Bacardi-Blaze   GAW  ...  400.0      M  23.76  22.92
3           3 2020-08-11   Bacardi-Blaze   GAW  ...  400.0      M  23.80  23.51
4           4 2020-07-27   Bacardi-Blaze   APK  ...  388.0      M  23.25  22.06

[5 rows x 10 columns]

In [15]:
remdup = remdup.drop_duplicates()
remdup = remdup.reset_index(drop = True)

In [16]:
remdup = remdup[["Unnamed: 0","Date","Dog","Track","Fin","Box","Dist","Grade","Time","Win T"]]
remdup['Date'] = pd.to_datetime(remdup.Date)
remdup["Date"] = remdup["Date"].astype(str)
remdup["Win T"] = remdup["Win T"].astype(str)
remdup["Dist"] = remdup["Dist"].astype(str)
remdup["concatenated_values"] = remdup["Date"]+remdup["Track"]+remdup["Win T"]+remdup["Dist"]

remdup = remdup.drop(columns=["Unnamed: 0"])

remdup = remdup.drop_duplicates()

remdup

              Date               Dog  ...  Win T      concatenated_values
0       2020-08-21    Give-Me-Ruby's  ...  22.74  2020-08-21APK22.74388.0
1       2020-07-31    Give-Me-Ruby's  ...  23.54  2020-07-31GAW23.54400.0
2       2020-08-18     Bacardi-Blaze  ...  22.92  2020-08-18GAW22.92400.0
3       2020-08-11     Bacardi-Blaze  ...  23.51  2020-08-11GAW23.51400.0
4       2020-07-27     Bacardi-Blaze  ...  22.06  2020-07-27APK22.06388.0
...            ...               ...  ...    ...                      ...
357271  2020-09-29  Little-Miss-Asha  ...   25.6   2020-09-29DEV25.6452.0
357272  2020-09-28    Winklee-Wizard  ...  16.32  2020-09-28LCN16.32278.0
357273  2020-09-28    Gee-Whiz-Dolly  ...  16.36  2020-09-28LCN16.36278.0
357274  2020-09-29      Minish-Woods  ...  25.75  2020-09-29DEV25.75452.0
357275  2020-09-28    Rivergum-Belle  ...  16.36  2020-09-28LCN16.36278.0

[357276 rows x 10 columns]

In [17]:
count = remdup['concatenated_values'].value_counts() == 8
count = pd.DataFrame(count)
count = count.reset_index()
cols = count.columns.values
cols[0] = "concatenated_values"
cols[1] = "value"
count.columns = cols
count["value"] = count["value"].astype(str)
updated_count = count.loc[count['value'] == "True"]
concatenated_values = updated_count.concatenated_values.tolist()
df = remdup.loc[remdup['concatenated_values'].isin(concatenated_values)]

remdup.shape

(357276, 10)

In [18]:
df["cluster"] = 0
uniqe = df.concatenated_values.unique()
i = 0
while i < len(uniqe):
    df.loc[df['concatenated_values'] == uniqe[i], 'cluster'] = i+1
    i = i+1
final_data = df.sort_values('cluster')
final_data = final_data.reset_index(drop = True)
final_data = final_data[["Date","Dog","Track","Fin","Box","Dist","Grade","Time","Win T","cluster"]]
final_data.head(200)

           Date              Dog Track  Fin  ...  Grade   Time  Win T  cluster
0    2020-08-16     Andy's-Handy   MBR  5th  ...      M  23.11  22.57        1
1    2020-08-16    Shadow's-Star   MBR  7th  ...      M  23.22  22.57        1
2    2020-08-16  Cawbourne-Jumpy   MBR  8th  ...      M  23.28  22.57        1
3    2020-08-16      Hali's-Girl   MBR  3rd  ...      M  22.75  22.57        1
4    2020-08-16    Sidney's-Star   MBR  6th  ...      M  23.11  22.57        1
..          ...              ...   ...  ...  ...    ...    ...    ...      ...
195  2020-06-24      Zoometrical   APK  7th  ...    SNP  23.06   22.5       25
196  2020-06-24     Emerley-Jose   APK  3rd  ...    SNP  22.74   22.5       25
197  2020-06-24     Burning-Glow   APK  6th  ...    SNP  22.89   22.5       25
198  2020-06-24   Filthy-Phantom   APK  5th  ...    SNP  22.89   22.5       25
199  2020-06-24    Westgate-Girl   APK  1st  ...    SNP  22.50   22.5       25

[200 rows x 10 columns]

In [19]:
print("Maximum value of the Cluster: ",max(final_data.cluster))

Maximum value of the Cluster:  4298

In [20]:
final_data

             Date              Dog Track  Fin  ...  Grade   Time  Win T  cluster
0      2020-08-16     Andy's-Handy   MBR  5th  ...      M  23.11  22.57        1
1      2020-08-16    Shadow's-Star   MBR  7th  ...      M  23.22  22.57        1
2      2020-08-16  Cawbourne-Jumpy   MBR  8th  ...      M  23.28  22.57        1
3      2020-08-16      Hali's-Girl   MBR  3rd  ...      M  22.75  22.57        1
4      2020-08-16    Sidney's-Star   MBR  6th  ...      M  23.11  22.57        1
...           ...              ...   ...  ...  ...    ...    ...    ...      ...
34379  2020-09-27           Pacino   DAR  3rd  ...      4  18.82  18.48     4298
34380  2020-09-27       Spirit-Bar   DAR  5th  ...      4  18.96  18.48     4298
34381  2020-09-27   Kabo's-Winlock   DAR  7th  ...      4  19.20  18.48     4298
34382  2020-09-27   Sunset-Inferno   DAR  2nd  ...      4  18.65  18.48     4298
34383  2020-09-27      Non-Plussed   DAR  4th  ...      4  18.84  18.48     4298

[34384 rows x 10 columns]

In [21]:
dictDog={}
for i in range(remdup['Dog'].unique().shape[0]):
  dictDog.update({remdup['Dog'].unique()[i]:i})

In [22]:
dictDog

{"Give-Me-Ruby's": 0,
 'Bacardi-Blaze': 1,
 'Galaxyia-Moon': 2,
 'Danger-Dan': 3,
 'Beers-With-Geoff': 4,
 'Go-Sister-Go': 5,
 'Hot-Rocks': 6,
 "Andy's-Handy": 7,
 'For-The-Thrill': 8,
 'Little-Herbie': 9,
 'Deedy': 10,
 'Straight-Blaze': 11,
 'Sallynoggin': 12,
 'Allegra': 13,
 'Gypsy-By-Design': 14,
 'Mobius-Loop': 15,
 "Bilman's-Stunner": 16,
 'Kick-Up': 17,
 'Starlight-Meg': 18,
 'Thomas-Shelby': 19,
 'Go-Fashion-Girl': 20,
 'Vibrant-Lee': 21,
 'Cordoza': 22,
 'Crazy-Jake': 23,
 'Dinkydi-Sheila': 24,
 "Elsie's-Choice": 25,
 'They-Call-Me': 26,
 'Hurricane-Evy': 27,
 'Sydney-Cove': 28,
 'Wood-Veneer': 29,
 "Tilly's-Charm": 30,
 'My-Little-Viper': 31,
 'Zipping-Arden': 32,
 'Graceful-Gazelle': 33,
 'Sneaky-Option': 34,
 'Gangalla-Ninja': 35,
 'Rock-It-Fabio': 36,
 'Power-Stone': 37,
 "Charlie's-Chance": 38,
 'Westgate-Girl': 39,
 'Loud-Missile': 40,
 'Absolute-Dream': 41,
 'Just-Kenny': 42,
 'Release-The-Fury': 43,
 'Huey-Lee': 44,
 'Ripple-Ryder': 45,
 'Peregrine-Flight': 46,
 'King-Percy': 47,
 'Duck-Your-Head': 48,
 'Glen-Gecko': 49,
 'You-Rascal-Girl': 50,
 'Midnight-Crash': 51,
 'Psychotic-Sky': 52,
 'Fly-For-Fashion': 53,
 'Angie-Ling': 54,
 'Callanish-Sprite': 55,
 'Predecessor': 56,
 'Macs-Road': 57,
 'Dynamic-Lee': 58,
 'Dyna-Artist': 59,
 'Motor-City-Fury': 60,
 'Select-All': 61,
 'More-Value': 62,
 'New-Variety': 63,
 'Cawbourne-Roxy': 64,
 'Crisis-Time': 65,
 'Select-Some': 66,
 'Aphoristic': 67,
 'Emerley-Phantom': 68,
 'Gateway-Bliss': 69,
 'Mister-Kingswood': 70,
 'Warrior-Jake': 71,
 'Firestarter-Lady': 72,
 'Breakfast-Creek': 73,
 'Roman-Renegade': 74,
 'Pink-Eight': 75,
 'Raging-Critter': 76,
 'Bossa-Nova-Joe': 77,
 'Bush-Panther': 78,
 'Gina-Louise': 79,
 'Gamma-Bale': 80,
 "Leo's-My-Champ": 81,
 'Cash-No-Credit': 82,
 'Alinea': 83,
 'Summer-Siren': 84,
 'Paisley-Bale': 85,
 'Grey-Not-Blue': 86,
 'Urana-Vieri': 87,
 'Follow-The-Que': 88,
 'Big-Leigh': 89,
 'Sugar-Spice': 90,
 'Hold-On': 91,
 "Macey's-Star": 92,
 'Mr.-Black': 93,
 'Deering-Danae': 94,
 'Cullquin-Marcel': 95,
 'Huntly-Star': 96,
 'Tiramisu-For-You': 97,
 'Simmons': 98,
 'Argyle-Audrey': 99,
 'Darra-Dawnne': 100,
 'Frisky-Den': 101,
 'Stacey-Bott': 102,
 'Aston-Thunder': 103,
 'According': 104,
 'Roots-Rock-Riot': 105,
 'Janray-Lucky-One': 106,
 'Slingshot-Angel': 107,
 'Secret-Chimp': 108,
 'Wired': 109,
 'Awesome-Grit': 110,
 'Zevatron': 111,
 'Starchie': 112,
 'Shanlyn-Rose': 113,
 'Especial-Elise': 114,
 'Less-Ordinary': 115,
 'Vonn': 116,
 'Lektra-Desire': 117,
 'Kranskey': 118,
 'Magic-Mamba': 119,
 'Scott-Something': 120,
 'Prince-Cody': 121,
 'Cornhill-Rebel': 122,
 'Jitterbug-Witch': 123,
 'Dewana-Be-Sure': 124,
 "Don's-Boy": 125,
 'Talented': 126,
 'Way-To-Important': 127,
 'Arrowsmith': 128,
 'Big-Little-Sis': 129,
 'Saint-Ellie': 130,
 'Runing-For-Juddy': 131,
 'Our-Girl-Bailee': 132,
 "Pandora's-Blue": 133,
 'Saffron-Gold': 134,
 'Class-Action': 135,
 'Tough-Dude': 136,
 'Nana-Rose': 137,
 'Scar-Queen': 138,
 'Ride-On': 139,
 'Nicko-In-Paris': 140,
 'Hard-Cash': 141,
 'Brave-Hearted': 142,
 "Pandora's-Hope": 143,
 'Colourful-Past': 144,
 'Lektra-Shadow': 145,
 'My-Rocky': 146,
 "Piper's-Unicorn": 147,
 'Diamond-Socks': 148,
 'Blue-Magic-Opal': 149,
 'Infinite-Will': 150,
 'Especial-Empire': 151,
 'Weetbix-Talent': 152,
 'Foxzami-Raptor': 153,
 'Full-Of-Weetbix': 154,
 'Big-Dove': 155,
 'College-Prince': 156,
 'Sassy-Keats': 157,
 "Treasure's-Lad": 158,
 'Hagrid-Grange': 159,
 'Supersonic-Girl': 160,
 'All-In-Hoss': 161,
 'Benefit-Summary': 162,
 'War-Bird': 163,
 'Black-Heel-High': 164,
 'Blackhawk-Dee': 165,
 'Rowchester-Flash': 166,
 'Rynell-Bale': 167,
 'Blonde-Barbados': 168,
 'Leggian-Blonde': 169,
 'Space-Runner': 170,
 'Shaniqua': 171,
 'Whata-Key': 172,
 'Raylene-Bale': 173,
 'Spot-The-Witch': 174,
 'Come-On-Loopy': 175,
 'Rocca-Jet': 176,
 'Iceni-Crusader': 177,
 'Iceni-Ryder': 178,
 "Feelin'": 179,
 'All-Out-Mini': 180,
 'Spot-The-Ghost': 181,
 'Weslyn-Bale': 182,
 'Maxworthy': 183,
 'Aston-Talks': 184,
 "I'm-All-White": 185,
 'Arielle-Bale': 186,
 'Spot-On-Tegz': 187,
 'Gunnadoo-Girl': 188,
 'Bangor-Mist': 189,
 'Murray-Street': 190,
 'Jockston': 191,
 'All-Good-Ell': 192,
 'Bacchus-Marsha': 193,
 'Gentleman-Jock': 194,
 'Tribal-Striker': 195,
 'All-Ahead-Brin': 196,
 "Miner's-Hope": 197,
 'Sweet-But-Psycho': 198,
 'Sunset-Spitfire': 199,
 'Wise-Storm': 200,
 "Fab's-Vera": 201,
 'Eraser-Blade': 202,
 'West-On-Harmony': 203,
 'Sunset-Hellfire': 204,
 'Magical-Fun': 205,
 "Nessa's-Yasmin": 206,
 'Metal-Buster': 207,
 'Ebby-Rapper': 208,
 'Our-Adventure': 209,
 "I'm-Your-Man": 210,
 'Hey-Siri': 211,
 'Revved-Up-Moment': 212,
 'Azzurra-Que': 213,
 'Catch-Jackson': 214,
 'Peppertide': 215,
 'Just-Simple': 216,
 'Cocoon': 217,
 "Jett's-Cracker": 218,
 'Van-Buren': 219,
 'Oysters': 220,
 'We-The-People': 221,
 'Hairpin-Trigger': 222,
 'More-Deductions': 223,
 'Kiss-Me-Linda': 224,
 'Pixie-Monelli': 225,
 'Grace-Ali': 226,
 "Chevy's-Entry": 227,
 'Curt-Lee': 228,
 'Tommy-Shelby': 229,
 'Up-And-About': 230,
 'Inversion': 231,
 'Yunderup-Magic': 232,
 'Dyna-Orenthal': 233,
 'Go-Gettem-Bingo': 234,
 'Regal-Twist': 235,
 'Ebby-Referee': 236,
 "Kat's-Hughy": 237,
 'Snallygaster': 238,
 'Withers-Monelli': 239,
 'Sir-Monty': 240,
 'West-On-Roger': 241,
 'Scootaloo': 242,
 'Hastie-Guess': 243,
 'Chimera-Monelli': 244,
 'Shades-Of-Blade': 245,
 'Chomp-Monelli': 246,
 "Banjo's-Girl": 247,
 "Don't-Guess": 248,
 'Fernando-Star': 249,
 'Star-Book': 250,
 'West-On-Bloom': 251,
 'Superstitious': 252,
 'West-On-Magada': 253,
 'Historic-Time': 254,
 'Burswood-Bandit': 255,
 'Westdale-Hailee': 256,
 "Gypsy's-Mindy": 257,
 "Hello-I'm-Rongo": 258,
 "Hello-I'm-Dom": 259,
 'Max-Beau': 260,
 'Wise-El-Nino': 261,
 'Pad-Up-Boone': 262,
 'Wise-Lightning': 263,
 'Spare-A-Square': 264,
 'Bumper-Blaster': 265,
 'Void-All-Tickets': 266,
 'Starlight-Ollie': 267,
 'Win-Some-Kuna': 268,
 'Pad-Up-Elyse': 269,
 'Flake-Monelli': 270,
 'So-Tough': 271,
 'Hurricane-Tears': 272,
 'Spring-Spinner': 273,
 'West-On-Violet': 274,
 'Happy-Rage': 275,
 "Fab's-Excise": 276,
 'Son-Of-Jamaica': 277,
 'Rouge': 278,
 'Ivy-Izmir': 279,
 'Galaxy-Blaster': 280,
 'Huey-Blue': 281,
 'Midnight-Diesel': 282,
 'Hermidale-Lass': 283,
 'Arrogant-Spike': 284,
 'Way-It-Is': 285,
 'From-The-Bronx': 286,
 'Carla-Rum': 287,
 'Wood-Burn': 288,
 'Ann-Keeping': 289,
 'Bogan-River': 290,
 'Little-Peppa': 291,
 "She's-Silver": 292,
 'Fusion-Smile': 293,
 'Come-On-Alice': 294,
 'Oh-Mate-Springer': 295,
 'Run-Goldie-Run': 296,
 'Fancy-Dianne': 297,
 'Winlock-Sienna': 298,
 'Nangar-Gold': 299,
 'Hammer-Foot': 300,
 'Bossy-Britches': 301,
 'Blackfoot-Angel': 302,
 'Noble-Street': 303,
 'Rapid-Rival': 304,
 'Hecticness': 305,
 'Nerves-Of-Zeal': 306,
 'Extreme-Thrill': 307,
 'Sceptre': 308,
 'My-Mate-Risky': 309,
 'Windy-Pines': 310,
 'Green-Machine': 311,
 'She-Knows-Uno': 312,
 'Bonnie-Blonde': 313,
 'Arrogant-Lillie': 314,
 'Mcvicker': 315,
 'Kinloch-Casey': 316,
 'Winlock-Amanda': 317,
 'Nangar-Diva': 318,
 'Mount-Hope': 319,
 'Winlock-Shifty': 320,
 'Brea-Casey': 321,
 "He's-So-Hectic": 322,
 'Winlock-Augustus': 323,
 'Sell-More-Houses': 324,
 'Satirical': 325,
 "Tony's-Rescue": 326,
 'Got-Something': 327,
 'Saltarello': 328,
 "Meeka's-Boy-Bill": 329,
 'Idle-Miss': 330,
 'Rummy-Tum-Tum': 331,
 'Woe-To-Go': 332,
 'Gabby-Keeping': 333,
 'My-Mate-Tack': 334,
 'Dana-Gem': 335,
 'Touch-Of-Fever': 336,
 'Serena-Creek': 337,
 'Getalong-Dana': 338,
 "Pip's-Delight": 339,
 'Liam-Keeping': 340,
 "Ben's-Lad": 341,
 'Swift-Jill': 342,
 'Nelly-Erskin': 343,
 'Black-Maserati': 344,
 'Dana-Candy': 345,
 'Sunshine-Runner': 346,
 'Charming-Meeka': 347,
 'Borrowed-Angel': 348,
 'Westside-Later': 349,
 'Change-Over': 350,
 'Sienna-Road': 351,
 'Maybe-Today': 352,
 'Karinya-Socks': 353,
 'Bogan-Panther': 354,
 'Winlock-Ruby': 355,
 'Dana-Ace': 356,
 "Meeka's-Charm": 357,
 'Erskin-Boy': 358,
 'Dana-Looney': 359,
 'Sunshine-Shadow': 360,
 'Be-Gifted': 361,
 'Holly-Keeping': 362,
 'Sprinkle-Fusion': 363,
 'Arrogant-Dusty': 364,
 "Blazin'-Ted": 365,
 'Flying-Solo': 366,
 'Husky-Hoofs': 367,
 "Rice's-Legacy": 368,
 'Fernando-Fusion': 369,
 'Rich-History': 370,
 'Sliced-Bread': 371,
 'Arrogant-Dora': 372,
 'Fusion-Crumble': 373,
 'Arrie-A-Blaze': 374,
 'Sunshine-Ruby': 375,
 'Away-Miss': 376,
 'Emerley-Mee-Too': 377,
 'Karinya-Billy': 378,
 'Rapid-Hill-Billy': 379,
 'Fernando-Junior': 380,
 'Fifield-Bitter': 381,
 'Maximus': 382,
 'Karinya-Mann': 383,
 'Blazing-Azzi': 384,
 'Swift-Romi': 385,
 'Devil-Den': 386,
 'Arrogant-Bobby': 387,
 'Dana-King': 388,
 'Tralee-Diesel': 389,
 'Big-Shot-Billy': 390,
 'Whiskey-Nights': 391,
 'Irinka-Tim': 392,
 'Bar-Raiser': 393,
 'Asquith-Bale': 394,
 'Your-Money': 395,
 'Lilac-Sky': 396,
 'All-Night-Brenda': 397,
 'Crumb-Snags': 398,
 'Westcott-Bale': 399,
 'Aston-Barty': 400,
 'Hojilla-Bale': 401,
 'Aston-Cash': 402,
 'Alabama-Anna': 403,
 'Rockstar-Jaimee': 404,
 "Giaan's-Girl": 405,
 'Fabriola-Yes': 406,
 'Hey-There-Brodie': 407,
 'Rivia-Bale': 408,
 'Blaviken-Bale': 409,
 'Rockstar-Manners': 410,
 'Blazing-Xeni': 411,
 'Gypsy-Cinnamon': 412,
 'Jafar-Bale': 413,
 'Aston-Dimple': 414,
 'Yussuf-Bale': 415,
 'Blazing-Lizzie': 416,
 'Blow-Me-Kisses': 417,
 'La-La-Louis': 418,
 'Galiena-Bale': 419,
 "Jagger's-Joss": 420,
 'Quan-Bale': 421,
 'Aston-Cade': 422,
 'Henessey-Venom': 423,
 'Mepunga-Missile': 424,
 'Larrakeyah-Lady': 425,
 'Noonbarra-Jack': 426,
 'Star-Blazer': 427,
 'Crackerjack-Carr': 428,
 'Amp-Meter': 429,
 'Dyna-Xervo': 430,
 'Sweet-As-Emm': 431,
 'Taiepa': 432,
 'Crackerjack-Kane': 433,
 "Driftin'-Away": 434,
 'Mister-Harlewood': 435,
 'Stirling-Lights': 436,
 'Brute': 437,
 'Sanjiro': 438,
 "Debbie's-Destiny": 439,
 'Zoro-Bale': 440,
 'Farmor-Watchers': 441,
 'All-Show': 442,
 'Sisco-Ride': 443,
 'Burst-The-Seam': 444,
 'Capra': 445,
 'Tough-Tears': 446,
 'Major-Giblet': 447,
 'Mepunga-Maggie': 448,
 'Through-The-Dark': 449,
 'Beguile': 450,
 'Yindi-Girl-Turbo': 451,
 'Mega-Dossa': 452,
 'Eight-Ball': 453,
 'Istrid-Bale': 454,
 'Spearhead-Joe': 455,
 'Aston-Bomber': 456,
 'Innocent-Diva': 457,
 'Hey-Vain-Elaine': 458,
 'Sharky-Shark': 459,
 'Lightning-Ben': 460,
 'Tiggerlong-Pink': 461,
 "Big-Don't-Argue": 462,
 "Fernando's-Boy": 463,
 'Devel-Sixteen': 464,
 'Junk-Food-Junkie': 465,
 'Who-Back-There': 466,
 'Mepunga-Harry': 467,
 'Cyclone-Zara': 468,
 "Nessa's-Zara": 469,
 'Chops-Malone': 470,
 'Headspace': 471,
 'Georgia-Pines': 472,
 'Crown-Ella': 473,
 'Elvisa-Bale': 474,
 'Floppy-Joe': 475,
 'Instinctual': 476,
 'Aston-Rose': 477,
 'Tickle-My-Fancy': 478,
 'Graceful-Light': 479,
 'Flying-Zara': 480,
 'Reiko-Houdini': 481,
 'Diorite-Fire': 482,
 'Fend-Off': 483,
 'Gypsy-Bun': 484,
 'Sugar-Maple': 485,
 'Close-Encounter': 486,
 'Double-Digit': 487,
 'Frosty-Flame': 488,
 'Bago-Bitter': 489,
 'Princess-Rarity': 490,
 'Bye-Clown-Town': 491,
 "Slug's-Slug": 492,
 'Rosdue-Lunar': 493,
 'Harbour-Joy': 494,
 'Elusive-Gift': 495,
 'Wild-Prince': 496,
 'Ninetymile-King': 497,
 'Cheeky-Nando': 498,
 'Thursday-Shiraz': 499,
 'Burns-Like-Gas': 500,
 'Sparkling-Melba': 501,
 'Wicked-Collision': 502,
 'Bar-Girls': 503,
 "Maywyn's-Bombora": 504,
 'Why-Catcher': 505,
 'Shuttle-Rose': 506,
 'Shallow-Replies': 507,
 'Wildash-Trapper': 508,
 'Preston-Lee': 509,
 'Oliver-Tears': 510,
 'Detention': 511,
 'Sequana': 512,
 'Infrared-Lad': 513,
 'Buck-Or-Two': 514,
 'Senorita-Maywyn': 515,
 'Maywyn-Ulysses': 516,
 'Blue-Diva': 517,
 'Spring-Paris': 518,
 'Peter-Talks': 519,
 'We-Get-It': 520,
 "Don't-Say-Maybe": 521,
 'Spring-Cleo': 522,
 'Farmor-Watch-You': 523,
 'Mitchell-John': 524,
 'Best-Fit': 525,
 'Top-Odds': 526,
 'Barcol-Boy': 527,
 'Maggie-Moo-Moo': 528,
 'Hoof-It-Hank': 529,
 "He's-A-Minstrel": 530,
 'Lil-Bit-Foxy': 531,
 'Double-Return': 532,
 'Positive-Gearing': 533,
 'Gold-Talks': 534,
 'Annika': 535,
 'Bonus-Only': 536,
 'Oh-So-Fernando': 537,
 'Minnie-Jojo': 538,
 'Impatient-Miss': 539,
 'On-And-Off': 540,
 'Regal-Opal': 541,
 'Madam-Waltz': 542,
 'Blue-Bandana': 543,
 'Go-Emmy-Go': 544,
 'Eight-Green-Cans': 545,
 "Hara's-Penny": 546,
 'Javens': 547,
 'Zipping-Blondie': 548,
 'Stellar-Stone': 549,
 'Blue-Bandit': 550,
 'Aristocratic-Gal': 551,
 'Blame-Brendan': 552,
 'Mahogany-Row': 553,
 'Wynburn-Rambo': 554,
 'Pearlie-Queen': 555,
 'Sir-Pantsalot': 556,
 'Blazing-Penske': 557,
 'Terror-Turtle': 558,
 'Double-Sprite': 559,
 'Owen-Money': 560,
 'Floral-Lace': 561,
 'Screaming-Betty': 562,
 "Austria's-Heidi": 563,
 "Rum-An'-Ruby's": 564,
 "Hara's-Shadow": 565,
 'Spring-Pirate': 566,
 'Stay-Warm-Zac': 567,
 'Galway-Diva': 568,
 'Haigslea-Flyer': 569,
 'Squawking-Squaw': 570,
 'Run-Blake-Run': 571,
 'Farmor-Bossy': 572,
 "What's-It's-Name": 573,
 'Ruby-Sioux': 574,
 'Towering-Heights': 575,
 'Kick-Along-Bella': 576,
 'Downtown': 577,
 'Con-The-Conman': 578,
 'Split-Season': 579,
 'Overshadowed': 580,
 'Borrowdale-Way': 581,
 'Shark-Power': 582,
 "Keck's-Angle": 583,
 'Powering-Tux': 584,
 'Isaac-George': 585,
 'Blue-Corvette': 586,
 'Discard-Road': 587,
 'Knockabout-Amy': 588,
 "Jody's-Prospect": 589,
 'About-That': 590,
 'Miss-Dalgetty': 591,
 "Surfin'-Safari": 592,
 'Rusty-Zan': 593,
 'Despicable-Pete': 594,
 'Ducati-Girl': 595,
 'Sugar-Ray-Prince': 596,
 'Black-Candles': 597,
 'Ray-Of-Hope': 598,
 'Dana-Lorna': 599,
 'Despicable-Lenny': 600,
 'Queen-Jess': 601,
 'Angel-Holly': 602,
 'Kinloch-Zipper': 603,
 'Bigbad-Brumby': 604,
 'Sapphire-Storm': 605,
 'Tiger-Holly': 606,
 'Princess-Swift': 607,
 'Golspie-Model': 608,
 'Goggins': 609,
 'Kamikaze-Magic': 610,
 'Billy-Ballows': 611,
 'Towering-Dawn': 612,
 'Ziggy-Doll': 613,
 'Down-The-Hatch': 614,
 'Towering-Smith': 615,
 'Latent-Energy': 616,
 'Bluestone-Sophie': 617,
 'Shark-Style': 618,
 'Victor-Sioux': 619,
 'Mulan': 620,
 'Go-Fifty-Seven': 621,
 'Sammy-Sioux': 622,
 'Dusty-Sioux': 623,
 'Bare-Minimum': 624,
 'Runaway-Pastizzi': 625,
 'Rushforth-Des': 626,
 "Rachel's-Revenge": 627,
 'Mock-Mock': 628,
 'Fortune-Seeker': 629,
 'Zambora-Bella': 630,
 'Shark-Zone': 631,
 'Gorgeous-Grove': 632,
 'Boston-Focus': 633,
 'Montana-Girl': 634,
 'Eight-Count': 635,
 'Custom-Banjo': 636,
 'Mystique-Halo': 637,
 'Only-Sometimes': 638,
 'Kandos-Lass': 639,
 'Harlem-Heat': 640,
 'Night-Owl': 641,
 'Manila-Cruz': 642,
 'Saipan-Bale': 643,
 'Hot-Kiwi': 644,
 'Lagoon-Lockdown': 645,
 'Indian-Mccooke': 646,
 'Salute-Soldier': 647,
 'Zambora-Rex': 648,
 'Good-Odds-Kanga': 649,
 'Hardaway-Kate': 650,
 'Katy-Bell': 651,
 'Despicable-Nath': 652,
 'Glorious-Gain': 653,
 'Lucy-Star': 654,
 'Get-There': 655,
 'Steel-Panther': 656,
 'My-Play-Maker': 657,
 'Iggy-Jakit': 658,
 'Super-Funny': 659,
 'Extreme-Shian': 660,
 'Double-It': 661,
 'Guardiola': 662,
 "Ollie's-Spirit": 663,
 "Kyron's-Way": 664,
 'Typhoon-Curly': 665,
 "Maddie's-Girl": 666,
 'Typhoon-Jed': 667,
 'Five-Mile-Gem': 668,
 'Asteroid-Chloe': 669,
 "Joey's-Nemesis": 670,
 'Dance': 671,
 "Fernando's-Point": 672,
 'Peanut-Brittle': 673,
 'Foxy-Tralee': 674,
 'Empty-Head': 675,
 'Cawbourne-Canelo': 676,
 'Fire-Fly-Pope': 677,
 'Midnight-Nova': 678,
 "Zaid's-Direction": 679,
 'Irish-Viking': 680,
 'White-Springs': 681,
 'Very-Vain': 682,
 'Maisen-Thomas': 683,
 'Bud-Star': 684,
 'Fireball-Camaro': 685,
 'Double-Copy': 686,
 'Rivergum-Buck': 687,
 'Remember-That': 688,
 'My-Mate-Jack': 689,
 "Liz's-Sniper": 690,
 'Malala-Gogolac': 691,
 'Dana-Big-Johnny': 692,
 'Pina-Colada': 693,
 'Super-Flyer': 694,
 "Diva's-Banjo": 695,
 'Tipsy-Opal': 696,
 "Krista's-Honey": 697,
 'Aston-Veloci': 698,
 'Sir-Erskin': 699,
 "Caeden's-Control": 700,
 'Cougar-County': 701,
 "Nula's-Dollar": 702,
 'Mystic-Tralee': 703,
 'Eureka-Boy': 704,
 'Orlov-Raider': 705,
 'Typhoon-Hilda': 706,
 "Lucy's-Bear": 707,
 'Maywyn-Hersheys': 708,
 'White-Orchard': 709,
 'Manton-Blaze': 710,
 'Ibrox-Poser': 711,
 'Westrock-Outlaw': 712,
 'Zipping-Enid': 713,
 'King-Zesta': 714,
 'Leonardo-Pearl': 715,
 'Halcyon-Prince': 716,
 'Sweet-Fire-All': 717,
 "Harper's-Boy": 718,
 'Lady-Liner': 719,
 'Sketchy-Fabio': 720,
 'Grand-Audrey': 721,
 'Enjoy-Yourself': 722,
 'Wild-Flames': 723,
 'Sticky-Wicket': 724,
 'Songar-Special': 725,
 'Guy-Incognito': 726,
 "Diver's-Session": 727,
 'Winlock-Shakey': 728,
 'Roll-On-One': 729,
 'Miss-Bump': 730,
 'Keith': 731,
 "Blazin'-Ringo": 732,
 'Jungleland': 733,
 'Wyatt-Ash': 734,
 'Semi-Quaver': 735,
 "Davette's-Diva": 736,
 'Golden-Century': 737,
 'Stinging-Roger': 738,
 'You-Know-Zipper': 739,
 'Hot-Disaster': 740,
 'Happy-Brae': 741,
 'Arquette': 742,
 'Fire-Ash': 743,
 'Kiarni-Connor': 744,
 'Ice-Reina': 745,
 'Not-Today': 746,
 "Banjo's-Rival": 747,
 'Peyton-May': 748,
 'Tennant': 749,
 'Rivergum-Gem': 750,
 "Houdini's-Niece": 751,
 'Fab-Nikki': 752,
 'Guard-Of-Honour': 753,
 'Total-Quality': 754,
 'Precoat': 755,
 'Lil-Bit-Longer': 756,
 'All-That-Sass': 757,
 'Spangles': 758,
 'Mercator-Bell': 759,
 'Angry-Monsoon': 760,
 'Aston-Mekong': 761,
 "Flyin'-Crazy": 762,
 'Halcyon-Princess': 763,
 'Save-The-Date': 764,
 "Here's-Your-Hat": 765,
 'Tralee-Erskin': 766,
 'Keg': 767,
 'No-Tickets': 768,
 'Speedy-Vuitton': 769,
 'Aussie-Outlaw': 770,
 'Handsome-Thief': 771,
 'Candy-Moon': 772,
 'Queen-Loan': 773,
 'Leisa-Gracie': 774,
 'Tralee-Ace': 775,
 "Rhyno's-Kiss": 776,
 'Hikey': 777,
 'Lil-Vuitton': 778,
 'Encouraging': 779,
 'Bo-Focus': 780,
 'Key-Key': 781,
 'Roman-Fergus': 782,
 'Sleek-Defier': 783,
 'All-In-Marvel': 784,
 'Benissimo': 785,
 "Blazin'-Sophia": 786,
 'Blue-Fire-Ice': 787,
 'Lawrence-Michael': 788,
 'Piper-Nigrum': 789,
 'Pops-And-Bubbles': 790,
 'Yorkeys-Knob': 791,
 'Wild-Sail': 792,
 'Fabulous-Time': 793,
 'Miss-Josie': 794,
 'Wild-Chances': 795,
 "Bella's-Choice": 796,
 'April-Buchanan': 797,
 'Leopard-Tree': 798,
 'Halcyon-Life': 799,
 'Stay-Apart': 800,
 'Flashing-Oscar': 801,
 'Sonic-Nismo': 802,
 'Kiarni-Ivy': 803,
 "Robby's-Boy": 804,
 'My-Vuitton': 805,
 'My-Sapphire': 806,
 'Luchador': 807,
 'Hard-Left': 808,
 'Sardina': 809,
 'Grand-Layton': 810,
 'Kiarni-Velvet': 811,
 'Seb-Zarr-Moonie': 812,
 'Songar-Red-Gum': 813,
 'Johansson': 814,
 "Sienna's-Ace": 815,
 'Low-Liner': 816,
 'Thunda-Touch': 817,
 "Londyn's-Choice": 818,
 'One-Foxy-Missile': 819,
 'Kiarni-Sal': 820,
 'El-Grand-Deano': 821,
 'Blossoming-Rose': 822,
 'Swift-Brittany': 823,
 'Nine-To-Seven': 824,
 'Bounce-Back': 825,
 'Mahogany-Jet': 826,
 "Helen's-Mate": 827,
 'Aston-Harlow': 828,
 'Arlington': 829,
 'Knockout-Fantasy': 830,
 'Cousin-Niall': 831,
 'East-Street': 832,
 'Bowled-Underarm': 833,
 'War-Creek': 834,
 'Orwell-Bale': 835,
 'Inga-Ollie': 836,
 'Rockstar-Lincoln': 837,
 'Mullion-Mayor': 838,
 'Wild-Card': 839,
 'Max-Dynamo': 840,
 'Midnight-Force': 841,
 "There's-A-Catch": 842,
 'Fabriola-Expert': 843,
 'Better-Watch-Out': 844,
 'Sailing-Shoes': 845,
 'Suvla-Bay': 846,
 'Speedy-Spyro': 847,
 'Lektra-Yoyo': 848,
 'Barefoot-Barry': 849,
 'Eastside': 850,
 'Be-So-Good': 851,
 'Invictus-Roy': 852,
 'Who-Told-Stevie': 853,
 'Gypsy-Yankee': 854,
 'Bound-To-Succeed': 855,
 'Jax-Bale': 856,
 'Tippa': 857,
 'Weblec-Haze': 858,
 'Vesper-Bale': 859,
 'Kingfisher-Rose': 860,
 'Pirates-Patch': 861,
 'Rockstar-Quinn': 862,
 'Abelero-Bale': 863,
 'Fabriola-Zad': 864,
 'Wallbanger': 865,
 'Winlock-Thor': 866,
 'Capture-Bart': 867,
 'Lola-Lovelace': 868,
 'Zipping-Hamish': 869,
 'Shima-Shine': 870,
 'Stack': 871,
 "Riley's-Paige": 872,
 'Blinken-Billy': 873,
 'Christo-Bale': 874,
 'Tekki-Nibbles': 875,
 'Avalanche': 876,
 'Keefe': 877,
 'Look-Fancy-Nancy': 878,
 'Chill-Out-Webby': 879,
 'Inga-Mia': 880,
 'Tornado-Tears': 881,
 'Euro-Bro': 882,
 'Houdini-Boy': 883,
 'Jayville-Slick': 884,
 "I'm-Easy-Boys": 885,
 'Mepunga-Pegasus': 886,
 'Hard-Style-Rico': 887,
 "Here's-Tears": 888,
 "Brady's-Shout": 889,
 'Charlie-Bale': 890,
 'Keeper-Of-Keys': 891,
 'Providence-Bale': 892,
 'Shanlyn-Deano': 893,
 'Short-Pork': 894,
 'Perfect-Marshall': 895,
 'Simon-Told-Helen': 896,
 'Zipping-Sullivan': 897,
 'Zipping-Benson': 898,
 'Wonderful-World': 899,
 'King-I-Am': 900,
 'Dani-Thrills': 901,
 'Dundee-Joker': 902,
 'Javi': 903,
 'Hazey-Roy': 904,
 'Cha-Cha-Charlie': 905,
 'Rothwell-Gal': 906,
 'Immersion': 907,

In [23]:
remdup.Dog=[dictDog[item]for item in remdup.Dog]
final_data.Dog=[dictDog[item]for item in final_data.Dog]
count1=1
count2=1
for item in df1st.Name:
  if item not in dictDog.keys():
    df1st = df1st.drop(df1st[df1st.Name == item].index)
    count1+=1
  else:
    count2+=1
df1st.Name=[dictDog[item]for item in df1st.Name]
print('not',count1,'yes',count2)

not 157 yes 905

In [26]:
df1st

     Grade Box Dist  Name Track     Race
0        3   1  295  6663   CCH   Race 1
1        3   2  295  6695   CCH   Race 1
2        3   3  295  6705   CCH   Race 1
3        3   4  295  6692   CCH   Race 1
4        3   5  295  6666   CCH   Race 1
...    ...  ..  ...   ...   ...      ...
1061     5   3  390  8922   WBL  Race 11
1062     5   4  390  3708   WBL  Race 11
1063     5   5  390  5901   WBL  Race 11
1064     5   6  390  5902   WBL  Race 11
1065     5   7  390  3214   WBL  Race 11

[904 rows x 6 columns]

In [27]:
dictTrack={}
for i in range(remdup['Track'].unique().shape[0]):
  dictTrack.update({remdup['Track'].unique()[i]:i})

In [28]:
remdup.Track=[dictTrack[item]for item in remdup.Track]
final_data.Track=[dictTrack[item]for item in final_data.Track]
df1st.Track=[dictTrack[item]for item in df1st.Track]

In [29]:
dictGrade={}
for i in range(remdup['Grade'].unique().shape[0]):
  dictGrade.update({remdup['Grade'].unique()[i]:i})

In [30]:
remdup.Grade=[dictGrade[item]for item in remdup.Grade]
final_data.Grade=[dictGrade[item]for item in final_data.Grade]
df1st.Grade=[dictGrade[item]for item in df1st.Grade]

In [31]:

dictFin={}
for i in range(remdup['Fin'].unique().shape[0]):
  dictFin.update({remdup['Fin'].unique()[i]:i})

In [32]:
remdup.Fin=[dictFin[item]for item in remdup.Fin]
final_data.Fin=[dictFin[item]for item in final_data.Fin]

In [33]:
TrackList=list(dictTrack.keys())

In [34]:
remdup

              Date   Dog  Track  ...   Time  Win T      concatenated_values
0       2020-08-21     0      0  ...  23.56  22.74  2020-08-21APK22.74388.0
1       2020-07-31     0      1  ...  24.26  23.54  2020-07-31GAW23.54400.0
2       2020-08-18     1      1  ...  23.76  22.92  2020-08-18GAW22.92400.0
3       2020-08-11     1      1  ...  23.80  23.51  2020-08-11GAW23.51400.0
4       2020-07-27     1      0  ...  23.25  22.06  2020-07-27APK22.06388.0
...            ...   ...    ...  ...    ...    ...                      ...
357271  2020-09-29  7579     44  ...  26.49   25.6   2020-09-29DEV25.6452.0
357272  2020-09-28  2925     45  ...  16.54  16.32  2020-09-28LCN16.32278.0
357273  2020-09-28  2971     45  ...  16.70  16.36  2020-09-28LCN16.36278.0
357274  2020-09-29  4595     44  ...  26.25  25.75  2020-09-29DEV25.75452.0
357275  2020-09-28  2972     45  ...  16.97  16.36  2020-09-28LCN16.36278.0

[357276 rows x 10 columns]

In [35]:
pred_x=df1st[['Name','Track','Box','Dist','Grade']]
pred_x = pred_x.drop(pred_x[pred_x.Name == 'Strike-It-Lucky'].index)
pred_x.head(20)

     Name  Track Box Dist  Grade
0    6663     71   1  295     66
1    6695     71   2  295     66
2    6705     71   3  295     66
3    6692     71   4  295     66
4    6666     71   5  295     66
5   11140     71   6  295     66
6    5645     71   7  295     66
8    6706     71   2  295     35
9    5667     71   3  295     35
10   9925     71   4  295     35
11  10680     71   5  295     35
12   5724     71   6  295     35
13   6684     71   7  295     35
14   5649     71   1  295     66
15   6667     71   2  295     66
16   2164     71   3  295     66
17   6641     71   4  295     66
18   6696     71   5  295     66
19  10089     71   6  295     66
20   6665     71   7  295     66

In [36]:
train_x=remdup[['Dog','Track','Box','Dist','Grade']]

In [37]:
train_y=remdup['Time']

In [38]:
test_x=final_data[['Dog','Track','Box','Dist','Grade']]

In [39]:
test_y=final_data['Time']

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
from sklearn.model_selection import train_test_split
import seaborn as sn
import time
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report 
from sklearn.linear_model import LassoCV
from sklearn.linear_model import RidgeCV
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNetCV
from sklearn.linear_model import LinearRegression

In [41]:
ModelName=[]
TestAccuracy=[]
TrainAccuracy=[]
PredictedResult=[]
# ConfusionMatrix=[]
# Probes=[]

In [42]:
def Train(name,model):
    ModelName.append(name)
    model.fit(train_x, train_y)
    y_predicted = model.predict(pred_x)
    PredictedResult.append(list(y_predicted))
    train_Acc = model.score(train_x, train_y)
    print('train accuracy for ',name,'=',train_Acc)
    TrainAccuracy.append(train_Acc)
    # test_Acc = model.score(test_y, y_predicted)
    test_Acc=model.score(test_x,test_y)
    TestAccuracy.append(test_Acc)
    print('test accuracy for ',name,'=',test_Acc)
    print('\n')
    # ConfusionMatrix.append(confusion_matrix(test_y,y_predicted))
    # Probes.append(model.predict_proba(test_x))

In [43]:
models=[LassoCV(),RidgeCV(),DecisionTreeRegressor(),RandomForestRegressor(n_estimators = 100, random_state = 0),ElasticNetCV(),LinearRegression()]
names=['LASSO Regression','Ridge Regression','Decision Tree','Random Forest','ElasticNet Regression','linear regression']

In [44]:
t1 = time.perf_counter()
for i in range(len(names)):
    Train(names[i],models[i])
t2 = time.perf_counter()
print('\n')
print(f'Finished in {t2-t1} seconds')

train accuracy for  LASSO Regression = 0.8308730106715658
test accuracy for  LASSO Regression = 0.8229750926907875


train accuracy for  Ridge Regression = 0.830911082030654
test accuracy for  Ridge Regression = 0.8231120283376844


train accuracy for  Decision Tree = 0.9794193020968727
test accuracy for  Decision Tree = 0.9817503890550722


train accuracy for  Random Forest = 0.9573931545086608
test accuracy for  Random Forest = 0.9573117204400299


train accuracy for  ElasticNet Regression = 0.8308723029838423
test accuracy for  ElasticNet Regression = 0.8229750101245026


train accuracy for  linear regression = 0.8309110820728934
test accuracy for  linear regression = 0.8231120558731211




Finished in 133.88321297799985 seconds

In [45]:
predictAvg=[]
for j in range(len(PredictedResult[0])):
  avg=0
  for i in range(len(PredictedResult)):
    avg+=PredictedResult[i][j]
  predictAvg.append(avg/len(PredictedResult))

In [46]:
df1st['Predicted Time']=predictAvg

In [47]:
dictDog2 = {v : k for k, v in dictDog.items()}
df1st.Name=[dictDog2[item]for item in df1st.Name]

In [48]:
dictTrack2 = {v : k for k, v in dictTrack.items()}
df1st.Track=[dictTrack2[item]for item in df1st.Track]

In [49]:
dictGrade2 = {v : k for k, v in dictGrade.items()}
df1st.Grade=[dictGrade2[item]for item in df1st.Grade]

In [50]:
df1st

     Grade Box Dist            Name Track     Race  Predicted Time
0        3   1  295        Our-Cook   CCH   Race 1       17.414009
1        3   2  295  No-Kissy-Missy   CCH   Race 1       17.443502
2        3   3  295   Mitcham-Boult   CCH   Race 1       17.466849
3        3   4  295  Goldstar-Flora   CCH   Race 1       17.430325
4        3   5  295    Taieri-Terra   CCH   Race 1       17.472728
...    ...  ..  ...             ...   ...      ...             ...
1061     5   3  390       Notorious   WBL  Race 11       22.544119
1062     5   4  390  Ragin'-Soldier   WBL  Race 11       22.800424
1063     5   5  390        Vin-Joel   WBL  Race 11       22.558372
1064     5   6  390  Rampant-Teresa   WBL  Race 11       22.628693
1065     5   7  390     Beaut-Deeds   WBL  Race 11       22.624202

[904 rows x 7 columns]